# Zig build artifacts
.zig-cache/
zig-out/
*.o
*.obj
*.pdb
*.exe
*.dll
*.dylib
*.so

# Gyro / package manager
.gyro/
gyro.lock

# Editor / OS
.DS_Store
.vscode/
.idea/
*.swp

# Release artifacts
*.tar.gz
*sum.txt

# Benchmark results
bench/*-results.*